h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: red;
}

canvas
{
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from{box-shadow: 5px 5px 25px blue;}
    to{box-shadow: 5px 5px 500px purple;}
}

body
{
    background-size: cover;
}